* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

/* Common */

a  {
    color: white;
    text-decoration: none;
}


.container {
    max-width: 90%;
    margin: auto;
}

.bg-third {
    background: #333;
    color: white;
    height: 165px;
    text-align: center;
}

.clr {
    clear: both;
}


/* Typography */
.low-text{
    margin-top:20px;
    font-size: 13px;
}

.body-title{
    color: #f7c08a;
    font-weight: 620;
    font-size: 20px;
    padding: 15px 0 25px 0;
}

.body-p{
    padding-bottom: 5px;
    font-size: 14px;
}

/* Navigation */
#navbar {
    background-color: #333;
    color: #fff;
    height: 70px;
    padding-top: 5px;
    /* overflow: auto; */
}

#navbar h1 {
    float: left;
    padding-top: 10px;
}

#navbar ul {
    float: right;
    list-style: none;  
    margin-top: 18px;
  
}

#navbar ul li {
    float: left;
}

#navbar ul a  {
    padding: 20px;
}

#navbar ul a:hover {
    text-decoration: underline;
    color: #f7c08a;
    background-color: #444;
}

/* Layout */
.lbl-name{
    padding-bottom: 5px;
    display: block;
    font-size: 13px;
}

.input-name{
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.123);
    padding: 5px;
}
.lbl-email{
    padding-top: 15px;
    padding-bottom: 5px;
    display: block;
    font-size: 14px;
}

.lbl-msg{
    padding-top: 15px;
    padding-bottom: 5px;
    display: block;
    font-size: 14px;
}

.input-email{
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.123);
}

textarea{
    border: 1px solid rgba(0, 0, 0, 0.123);
    padding: 5px;
    width: 100%;
}

.textarea-div{
    width: 100%;
}

.div-in{
    padding-top: 5px;
}

.div-body-p{
    padding-bottom: 5px;
}

button{
    margin: 15px 0;
    padding: 8px 12px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

/*  Features */
.box {
    float: left;
    width: 33.3333%;
    padding: 40px 50px;
}

.box i {
    font-size: 40px;
}

